<!DOCTYPE html>
<html>
    <head lang="en" itemscope itemtype="http://schema.org/WebPage">
        <title>{{cookiecutter.site_name}}</title>
        <link rel="shortcut icon" href="/favicon.ico">

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />

        <meta name="description" content="{{cookiecutter.description}}" />

        <!-- Schema.org markup for Google+ -->
        <meta itemprop="name" content="{{cookiecutter.site_name}}" />
        <meta itemprop="description" content="{{cookiecutter.description}}" />
        <meta itemprop="image" content="/img/logo.png" />

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary" />
        <!--<meta name="twitter:site" content="@twitter" />-->
        <meta name="twitter:title" content="{{cookiecutter.site_name}}" />
        <meta name="twitter:description" content="{{cookiecutter.description}}" />
        <meta name="twitter:image:src" content="/img/logo.png" />

        <!-- Open Graph data -->
        <meta property="og:title" content="{{cookiecutter.site_name}}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://localhost" />
        <meta property="og:image" content="/img/logo.png" />
        <meta property="og:description" content="{{cookiecutter.description}}" />
        <meta property="og:site_name" content="{{cookiecutter.site_name}}" />

        <!-- CSS -->
        <link rel="stylesheet" href="libs.css" />
        <link rel=stylesheet href="main.css" />

        <!-- JS -->
        <script src="app.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        {{cookiecutter.site_name}}
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="nav navbar-nav navbar-right">
                        {% raw %}<li {% if page == 'link' %} class="active" {% endif %}><a href="/link.html">Link</a></li>{% endraw %}
                    </ul>
                </div>
            </div>
        </nav>

        {% raw %}

        {% block content %}
        {% endblock %}

        {% endraw %}
    </body>
</html>
